<div class="row">
  <div class=" large-10 large-centered columns">
    <h1>Listing admins</h1>
    <% if notice %>
    <div data-alert class="alert-box success">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>create</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
        <tr>
          <td><%= admin.id %></td>
          <td>
            <%= admin.name %></td>
          <td>
            <%= admin.created_at %></td>
          <td>
            <ul class="button-group">
              <li>
                <%= link_to 'Edit', edit_root_admin_path(admin), class: 'small button nomargin' %></li>
              <li>
                <%= link_to 'Destroy', root_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'small button nomargin' %></li>
            </ul>
          </td>
        </tr>
        <% end %></tbody>
    </table>

    <br />

    <%= link_to 'New Admin', new_root_admin_path, class: 'button small' %></div>
</div>