<% provide(:title, full_name(@teacher)) %>
<div class="row push-down">
	<div class="large-10 columns">
		<div class="teacher-name">
			<h4>
				<%= full_name @teacher %>, <small><%= @teacher.position %></small>
			</h4>
		</div>
	</div>
</div>

<div class="teacher-bg"></div>

<div class="row teacher hide-for-small">
	<div class="large-3 columns">
		<%= gravatar_image_tag @teacher.email, alt: @teacher.sname, :gravatar =>{ filetype: :png, size: 220 } %></div>
	<div class="large-9 columns">
		<div class="panel">
			<blockquote><%= @teacher.description %></blockquote>
			</div>
	</div>
</div>

<%= render 'teachers/shedule' %>

<%= render @teacher.subjects %>