<%= render 'layouts/head' %>
<body>
	<%= render 'layouts/header' %>
<div class="row">
	<div class="large-2 columns">
		<ul class="side-nav">
			<li>
				<a href="/root">Hi, <%= admin_name %>!</a>
			<li class="divider"></li>
			<li>
				<%= link_to 'Admins', root_admins_path %></li>
			<li>
				<%= link_to 'Teachers', '#' %></li>
			<li>
				<%= link_to 'Subjects', '#' %></li>								
			<li>
				<%= link_to 'Students', '#' %></li>		
			<li class="divider"></li>		
			<li><%= button_to 'Logout', root_logout_path, method: :delete, class: 'button tiny expand secondary' %></li>
		</ul>
	</div>
	<div class="large-10 columns">
		<%= yield %></div>
</div>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
</body>
</html>